<div class="layout-wrapper">
  <h2 class="list-title">Add new employee</h2>
  <div class="container form">
<form [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmitted(employeeForm)">
  <input type="text" formControlName="id" placeholder="Id">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="text" formControlName="salary" placeholder="Salary">
  <input type="text" formControlName="age" placeholder="Age">
  <input type="text" formControlName="img" placeholder="Img">
  <input class="btn btn-submit" type="submit" value="Submit">
</form>
  </div>
</div>
